<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyid</key>
	<string>5a66e88db247132a34d94d837b79035c</string>
	<key>url</key>
	<string>https://api.gnavi.co.jp/RestSearchAPI/v3/</string>
</dict>
</plist>
